<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,width=780">
    <title>自己的活動自己拍 - g0v hackath9n photo stream</title>
    <!-- libraries-->
    <script type="text/javascript" src="/assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="/assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="icon" type="image/gif" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script type="text/javascript" src="/assets/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/jquery.sticky.js"></script>
    <script type="text/javascript" src="/share.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="menu" data-anchor-target="#banner" data-top-top="@class:static" data-top-bottom="@class:fixed"><a href="http://g0v.photos" target="_blank" class="item">g0v.photos</a><a href="http://g0v.tw" target="_blank" class="item">官方網站</a><a href="http://hack.g0v.tw" target="_blank" class="item">hackfolder</a><a href="http://g0v.hackpad.com" target="_blank" class="item">hackpad</a><a href="http://community.g0v.tw" target="_blank" class="item">新・後勤中心</a><a href="https://www.facebook.com/g0v.tw" target="_blank" class="item">粉絲團</a><a href="#" ng-click="gotop()" class="item">回頁首</a><a class="item logo"><img src="img/logo.gif"></a></div><br><br><br style="clear:both">
    <h1></h1> 
    <div id="footer"><b>自己的活動自己拍 </b>/ g0v.photos / <a id="attributions" data-container="body" data-toggle="popover" data-placement="top" data-content="Cloud-Upload / Chris Kerr / CC-BY 3.0 / http://goo.gl/vcSJnS">attributions</a></div>
  </body>
</html>