extends /layout/with-menu
block head
  script(type="text/javascript",src="/js/event.js")
block content
  #content(ng-controller="event")
    #newset
      #newset-banner
        p.text-center: big 想要有一個專用的照片流是嗎？
        h2.text-center 建立活動專頁
    br
    br
    form#newsetform.form-horizontal(name="newsetform",style="width:70%;margin:auto",novalidate)
      .form-group
        label.col-sm-2.control-label.big 活動名稱
        .col-sm-9
          input.form-control(type="text",name="name",ng-model="set.name",placeholder="例如: 零時政府第十次黑客松",required)

      .form-group
        label.col-sm-2.control-label.big 主辦單位 / 組織
        .col-sm-9
          input#event-choose-org.form-control
          .pull-right
            span 還沒有屬於自己的組織嗎？
            a(href="/org/create")
              | 立刻建立 
              i.glyphicon.glyphicon-plus
      hr
      .form-group
        label.col-sm-2.control-label 活動短名
        .col-sm-9
          input.form-control(type="text",name="oid",ng-model="set.oid",placeholder="例如: hackath10n",required)
          span: small * 只能使用英文字母或數字
      .form-group
        label.col-sm-2.control-label 照片流網址
        label.col-sm-9.control-label: .text-left http://{{set.org}}.g0v.photos/e/{{set.oid}}
      .form-group
        label.col-sm-2.control-label 活動副標
        .col-sm-9
          input.form-control(type="text",name="desc",ng-model="set.desc",placeholder="例如: 零時政府第十次黑客松",required)
      .form-group
        label.col-sm-2.control-label 主頁圖片
        .col-sm-9
          input.form-control#setimage(type="file",name="image",ng-model="set.image",ng-required="!oid")
      .form-group
        label.col-sm-2.control-label 詳細描述
        .col-sm-9
          textarea.form-control(name="detail",ng-model="set.detail",placeholder="更詳細的描述活動的細節",required)
      .form-group
        label.col-sm-2.control-label 活動網站
        .col-sm-9
          input.form-control(type="text",name="url",ng-model="set.url",placeholder="例如: http://hack.g0v.tw/hackath10n")
      .form-group
        label.col-sm-2.control-label 社群專頁
        .col-sm-9
          input.form-control(type="text",name="social",ng-model="set.social",placeholder="例如: http://facebook.com/g0v.tw")
      .row
        .col-sm-offset-2.col-sm-5: .btn.btn-block.btn-success(ng-click="submit()")
          span(ng-show="!oid") 建立
          span(ng-show="oid") 更新
        .col-sm-4: a.btn.btn-block.btn-default(href="//g0v.photos") 取消

    br
    br
    br

    //-form#newsetform(name="newsetform",style="width:70%;margin:auto",novalidate)
      .row
      .row
        .col-sm-4
          .form-group(ng-class="fix('name')")
            label.control-label.text-right
              | 活動名稱
              small ( 大標題顯示於頁首 )
            input.form-control(type="text",name="name",ng-model="set.name",placeholder="例如: 零時政府第十次黑客松",required)
        .col-sm-4
          .form-group(ng-class="fix('event')")
            label.control-label.text-right
              | 活動短名
              small ( 網址用，只使用字母與數字 )
            input.form-control(type="text",name="event",ng-model="set.event",placeholder="例如: hackath10n",required,ng-disabled="event")
        .col-sm-4
          .form-group(ng-class="fix('image')")
            label.control-label.text-right 主頁圖片
            input.form-control#setimage(type="file",name="image",ng-model="set.image",ng-required="!event")
      .row
        .col-sm-12
          .form-group(ng-class="fix('desc')")
            label.control-label.text-right 活動副標
            input.form-control(type="text",name="desc",ng-model="set.desc",placeholder="例如: 大家趕快來上傳照片吧！",required)
      hr
      .row
        .col-sm-6: .btn.btn-block.btn-success(ng-click="submit()")
          span(ng-show="!event") 建立
          span(ng-show="event") 更新
        .col-sm-6: a.btn.btn-block.btn-default(href="//g0v.photos") 取消
      div(ng-show="event")
        hr
        h4 危險區
        .row
          .col-sm-6
            .btn.btn-block.btn-danger(ng-click="delete()",disabled) 刪除
    #loading(ng-show="uploading")
