<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,width=780">
    <title>自己的活動自己拍 - g0v hackath9n photo stream</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="icon" type="image/gif" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="assets/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="jquery.sticky.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="banner">
      <div ng-class="bkno" class="bk"></div>
      <div id="headline" ng-class="[{'active':hlActive},bkno]">
        <div ng-class="{'active':hlActive}" class="title">自己的活動自己拍</div>
        <div ng-class="{'active':hlActive}" class="subtitle">g0v hackath9n photo stream</div>
      </div>
    </div>
    <div id="menu" data-anchor-target="#banner" data-top-top="@class:static" data-top-bottom="@class:fixed"><a href="http://g0v.photos" target="_blank" class="item">g0v.photos</a><a href="http://g0v.tw" target="_blank" class="item">官方網站</a><a href="http://hack.g0v.tw" target="_blank" class="item">hackfolder</a><a href="http://g0v.hackpad.com" target="_blank" class="item">hackpad</a><a href="http://community.g0v.tw" target="_blank" class="item">新・後勤中心</a><a href="https://www.facebook.com/g0v.tw" target="_blank" class="item">粉絲團</a><a href="#" ng-click="gotop()" class="item">回頁首</a><a class="item logo"><img src="img/logo.gif"></a></div><br><br><br style="clear:both">
    <div id="output">
      <form class="row">
        <div class="col-xs-4">
          <div class="preview"></div>
        </div>
        <div class="col-xs-8">
          <div class="form-group">
            <label>照片描述</label>
            <textarea ng-model="desc" placeholder="解釋一下這張照片在拍什麼吧" class="form-control"></textarea>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>作者</label>
                <input type="text" ng-model="author" placeholder="例如: 王大明" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>標籤</label>
                <input type="text" ng-model="tag" placeholder="用逗點分隔" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>授權 - {{license}}</label><br>
            <div class="well">
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="cc.by" ng-disabled="!author">BY / 姓名標示
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="cc.sa" ng-disabled="!author">SA / 相同方式分享
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="cc.nd" ng-disabled="!author">ND / 禁止改作
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="cc.nc" ng-disabled="!author">NC / 非商業性
              </label>
            </div>
          </div>
          <div ng-click="submit()" ng-disabled="uploading" class="btn btn-success">上傳</div>
          <div ng-click="cancel()" ng-disabled="uploading" class="btn btn-default">取消</div>
        </div>
      </form>
    </div>
    <div id="layout" class="layout">
      <div data-order="0" class="thumbnail upload">
        <div class="ib">
          <div class="ib2">
            <div ng-show="!chosen" class="img"></div>
            <div id="upload-canvas" ng-class="{'default-height': !chosen}" class="default-height"></div>
            <input id="file" type="file">
          </div>
        </div>
      </div>
      <div ng-repeat="item in list" data-order="{{item.order}}" class="thumbnail">
        <div class="ib"><a href="http://raw.g0v.photos/{{item.name}}" target="_blank"><img ng-attr-src="http://thumb.g0v.photos/{{item.name}}" isotope></a>
          <div class="desc">{{item.metadata.desc}} by {{item.metadata.author || "anonymous"}} @ {{item.metadata.license || "Public Domain"}}</div>
        </div>
      </div>
    </div>
    <div id="loading" ng-show="uploading"></div>
    <div id="footer"><b>自己的活動自己拍 </b>/ g0v.photos / <a id="attributions" data-container="body" data-toggle="popover" data-placement="top" data-content="Cloud-Upload / Chris Kerr / CC-BY 3.0 / http://goo.gl/vcSJnS">attributions</a></div>
  </body>
</html>