doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport",content="initial-scale=1, maximum-scale=1,width=780")
    title 自己的活動自己拍 - g0v hackath10n photo stream
    // libraries
    include library.jade
    // custom files
    link(rel="icon",type="image/gif",href="/favicon.png")
    link(rel="stylesheet",type="text/css",href="/index.css")
    script(type="text/javascript",src="#{assets}/isotope/isotope.pkgd.min.js")
    script(type="text/javascript",src="/jquery.sticky.js")
    script(type="text/javascript",src="/index.js")
  body(ng-app="main",ng-controller="main")
    #fb-root
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '250121128521928',
          xfbml      : true,
          version    : 'v2.0'
        });
        angular.element("body").scope().fbready(window.fbready = true);
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    #banner
      .bk(ng-class="bkno")
      #headline(ng-class="[{'active':hlActive},bkno]")
        .title(ng-class="{'active':hlActive}") 自己的活動自己拍
        .subtitle(ng-class="{'active':hlActive}") g0v hackath10n photo stream
   
    #menu
      a.item(href="http://g0v.photos") g0v.photos
      .dropdown.item
        a.dropdown-toggle(href="#",data-toggle="dropdown")
          | 零時政府 
          i.glyphicon.glyphicon-chevron-down
        ul.dropdown-menu
          li: a(href="http://g0v.tw",target="_blank") 官方網站
          li: a(href="http://hack.g0v.tw",target="_blank") 協作平台
          li: a(href="http://g0v.hackpad.com",target="_blank") 線上共筆
          li: a(href="http://community.g0v.tw",target="_blank") 後勤中心
          li: a(href="https://www.facebook.com/g0v.tw",target="_blank") 粉絲專頁
      a.item(ng-click="filterfav(true)",ng-show="!showfav") 我的最愛
      a.item(ng-click="filterfav(false)",ng-show="showfav") 全部顯示
        
      .pull-right
        a.item(ng-click="login()",ng-show="!user") 登入
        .dropdown.profile.item(ng-show="user")
          a.dropdown-toggle(href="#",data-toggle="dropdown")
            img(ng-attr-src="http://graph.facebook.com/{{user.id}}/picture",ng-if="user")
            | {{user.name}} 
            i.glyphicon.glyphicon-chevron-down
          ul.dropdown-menu
            li: a 設定
            li: a(ng-click="logout()") 臉書登出
        a.item(href="#",ng-click="gotop()") 回頁首
      a.item.logo(href="#"): img(src="/img/logo.gif")
    br(style="clear:both")
    #output
      form.row
        .col-xs-4
          .preview
        .col-xs-8
          .form-group
            label 照片描述
            textarea.form-control(ng-model="desc",placeholder="解釋一下這張照片在拍什麼吧")
          .row
            .col-sm-6: .form-group
              label
                | 作者 &nbsp; &nbsp;
                label.checkbox-inline(ng-show="user")
                  input(type="checkbox",ng-model="customauthor",ng-disabled="!user")
                  | 使用其他名稱
              input.form-control(type="text",ng-model="author",placeholder="例如: 王大明",ng-disabled="!customauthor && user")
            .col-sm-6: .form-group
              label 標籤
              input.form-control(type="text",ng-model="tag",placeholder="用逗點分隔")
          .form-group
            label
              | 授權 - {{license}}
            br
            .well
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.by",ng-disabled="!author")
                | BY / 姓名標示
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.sa",ng-disabled="!author")
                | SA / 相同方式分享
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.nd",ng-disabled="!author")
                | ND / 禁止改作
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.nc",ng-disabled="!author")
                | NC / 非商業性
          .btn.btn-success(ng-click="submit()",ng-disabled="uploading") 上傳
          .btn.btn-default(ng-click="cancel()",ng-disabled="uploading") 取消

    .layout#layout
      div.thumbnail.upload.fav(data-order="0"): .ib
        .ib2
          .img(ng-show="!chosen")
          #upload-canvas.default-height(ng-class="{'default-height': !chosen}")
          input#file(type="file")

      div.thumbnail(ng-repeat="item in list",data-order="{{item.order}}",ng-class="{'fav': userdata.heart[item.name] && user}"): .ib
        a(href="/s/{{item.name}}",target="_blank"): img(ng-attr-src="http://thumb.g0v.photos/{{item.name}}",isotope)
        .action
          .fav(ng-click="heart($event, item.name)")
            i.glyphicon.glyphicon-heart-empty(ng-show="!userdata.heart[item.name]")
            i.glyphicon.glyphicon-heart(ng-show="userdata.heart[item.name] && user")
          .share(ng-click="sharePopover($event,item.name)")
            i.glyphicon.glyphicon-share-alt
        .desc 
          | {{item.metadata.desc}} by {{item.metadata.author || "anonymous"}} @ {{item.metadata.license || "Public Domain"}} / 
          a(href="http://raw.g0v.photos/{{item.name}}") 原圖
    #share-popover
      | 分享連結: 
      a(href="http://g0v.photos/s/{{lastshare}}") http://g0v.photos/s/{{lastshare}}
    #loading(ng-show="uploading")
    #footer
      b 自己的活動自己拍 
      | / g0v.photos / 
      a#attributions(data-container="body",data-toggle="popover",data-placement="top",data-content="Cloud-Upload / Chris Kerr / CC-BY 3.0. Quote / Matthew Ryan Miller / CC-BY 3.0 ") attributions
      .fb-like(data-href="http://g0v.photos",data-width="200",data-layout="button_count",data-action="like",data-show-faces="false",data-share="false")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52174321-1', 'g0v.photos');
      ga('send', 'pageview');
