doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport",content="initial-scale=1, maximum-scale=1,width=780")
    title 自己的活動自己拍 - g0v hackath9n photo stream
    // libraries
    include library.jade
    // custom files
    link(rel="icon",type="image/gif",href="favicon.png")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="assets/isotope/isotope.pkgd.min.js")
    //-script(type="text/javascript",src="skrollr.min.js")
    script(type="text/javascript",src="jquery.sticky.js")
    script(type="text/javascript",src="index.js")
  body(ng-app,ng-controller="main")
    #banner
      .bk(ng-class="bkno")
      #headline(ng-class="[{'active':hlActive},bkno]")
        .title(ng-class="{'active':hlActive}") 自己的活動自己拍
        .subtitle(ng-class="{'active':hlActive}") g0v hackath9n photo stream
    #menu(data-anchor-target="#banner",data-top-top="@class:static",data-top-bottom="@class:fixed")
      a.item(href="http://g0v.photos",target="_blank") g0v.photos
      a.item(href="http://g0v.tw",target="_blank") 官方網站
      a.item(href="http://hack.g0v.tw",target="_blank") hackfolder
      a.item(href="http://g0v.hackpad.com",target="_blank") hackpad
      a.item(href="http://community.g0v.tw",target="_blank") 新・後勤中心
      a.item(href="https://www.facebook.com/g0v.tw",target="_blank") 粉絲團
      a.item(href="#",ng-click="gotop()") 回頁首
      a.item.logo: img(src="img/logo.gif")
    br
    br
    br(style="clear:both")
    #output
      form.row
        .col-xs-4
          .preview
        .col-xs-8
          .form-group
            label 照片描述
            textarea.form-control(ng-model="desc",placeholder="解釋一下這張照片在拍什麼吧")
          .row
            .col-sm-6: .form-group
              label 作者
              input.form-control(type="text",ng-model="author",placeholder="例如: 王大明")
            .col-sm-6: .form-group
              label 標籤
              input.form-control(type="text",ng-model="tag",placeholder="用逗點分隔")
          .form-group
            label
              | 授權 - {{license}}
            br
            .well
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.by",ng-disabled="!author")
                | BY / 姓名標示
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.sa",ng-disabled="!author")
                | SA / 相同方式分享
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.nd",ng-disabled="!author")
                | ND / 禁止改作
              label.checkbox-inline
                input(type="checkbox",ng-model="cc.nc",ng-disabled="!author")
                | NC / 非商業性
          .btn.btn-success(ng-click="submit()",ng-disabled="uploading") 上傳
          .btn.btn-default(ng-click="cancel()",ng-disabled="uploading") 取消

    .layout#layout
      div.thumbnail.upload: .ib
        .ib2
          .img(ng-show="!chosen")
          #upload-canvas(ng-class="{'default-height': !chosen}")
          input#file(type="file")

      div.thumbnail(ng-repeat="item in list"): .ib
        a(href="http://raw.g0v.photos/{{item.name}}",target="_blank"): img(ng-attr-src="http://thumb.g0v.photos/{{item.name}}")
        .desc {{item.metadata.desc}} by {{item.metadata.author || "anonymous"}} @ {{item.metadata.license || "Public Domain"}}
    #loading(ng-show="uploading")
    #footer
      b 自己的活動自己拍 
      | / g0v.photos / 
      a#attributions(data-container="body",data-toggle="popover",data-placement="top",data-content="Cloud-Upload / Chris Kerr / CC-BY 3.0 / http://goo.gl/vcSJnS") attributions
