extends base
block head
  script(type="text/javascript",src="/js/stream.js")
block body
  #content-nomargin(ng-controller="stream")
    #banner(ng-if="event.oid")
      .bk(ng-class="bkno",ng-attr-style="background-image: url(//img.g0v.photos/event/{{event.oid}})")
      #headline(ng-class="[{'active':hlActive},bkno]",style="background:none;overflow: hidden")
        .headline-bk(ng-attr-style="background-image: url(//img.g0v.photos/event/{{event.oid}});-webkit-filter:blur(10px)")
        .headline-text
          .title(ng-class="{'active':hlActive}") {{event.name}}
          .subtitle(ng-class="{'active':hlActive}") {{event.desc}}
    #banner(ng-if="!event.oid")
      .bk(ng-class="bkno")
      #headline(ng-class="[{'active':hlActive},bkno]")
        .title(ng-class="{'active':hlActive}") 自己的活動自己拍
        .subtitle(ng-class="{'active':hlActive}") 您的活動照片串流平台
    include menu.jade
    .layout#layout
      div.thumbnail.upload.fav(data-order="9999999"): .ib
        form#fileform.ib2(action="/s/pic",method="POST",enctype="multipart/form-data")
          .img(ng-show="!chosen")
          #upload-canvas.default-height(ng-class="{'default-height': !chosen}")
          input#file(type="file",name="file")

      //-div.thumbnail(ng-repeat="item in list",data-order="{{item.create_date}}",ng-class="{'fav': user.fav[item.id] && user}"): .ib
        .tags
          .tag.white(ng-show="item.event"): .text {{item.event}}
          br
          .tag: .text {{item.license || "Public Domain"}}

        a.img(href="/s/pic/{{item.id}}",target="_blank"): img(ng-attr-src="//thumb.g0v.photos/{{item.id}}",isotope)
        .action
          .fav(ng-show="user",ng-click="fav($event, item.id)")
            i.glyphicon.glyphicon-heart-empty(ng-show="!user.fav[item.id]")
            i.glyphicon.glyphicon-heart(ng-show="user.fav[item.id] && user")
          .share(ng-click="sharePopover($event,item.id)")
            i.glyphicon.glyphicon-share-alt
        .desc 
          | {{item.desc}} by {{item.author || "anonymous"}} / 
          //-@ {{item.license || "Public Domain"}} / 
          a(href="http://raw.g0v.photos/{{item.id}}") 原圖
      .clearfix
    #share-popover
      | 分享連結: 
      a(href="http://g0v.photos/s/{{lastshare}}") http://g0v.photos/s/{{lastshare}}
    #loading-hourglass(ng-class="{'active':downloading}")
    #loading(ng-show="uploading")
